<%= render "layouts/navbar" %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path("banner.jpg") %>')">
  <h4>“Cinema is a matter of what's in the frame and what's out”</h4>
  <h6>― Martin Scorsese.</h6>
</div>

<div class="index-main">
<div class="side-image">
  <%= image_tag "Paramount Theater_flipped.jpeg", class: "index-image" %>
</div>
<div class="background">
  <div class="container-main">
    <h2 class="text-center"> 🎬 Your lists </h2>
    <% if @lists.empty?%>
      <p>There are no lists to display, start with creating a <%= link_to "new", new_list_path%> one!</p>
    <% else %>
        <% @lists.each do |list|%>
          <% if list.photo.attached? %>
          <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 200, crop: :fill %>')">
            <%= list.name%>
            <span><%= link_to list_path(list), class: "link-offset-2 link-underline link-underline-opacity-0" do%>
              <i class="fa-solid fa-circle-info"></i>
              <% end %>
              <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Remove the list?"}, class: "link-offset-2 link-underline link-underline-opacity-0" do%>
                <i class="fa-solid fa-trash-can"></i>
                <% end %>
                </span>
          </div>
          <% else %>
          <div class="card-list" >
            <%= list.name%>
            <span><%= link_to list_path(list), class: "link-offset-2 link-underline link-underline-opacity-0" do%>
              <i class="fa-solid fa-circle-info"></i>
              <% end %>
              <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Remove the list?"}, class: "link-offset-2 link-underline link-underline-opacity-0" do%>
                <i class="fa-solid fa-trash-can"></i>
                <% end %>
                </span>
          </div>
          <% end %>
        <% end %>
    <% end %>
  </div>
  <div >
    <%= link_to "Go to all movies", movies_path, class:"link-offset-2 link-underline link-underline-opacity-0 text-light px-4" %>
  </div>
</div>
<div class="side-image">
  <%= image_tag "Paramount Theater.jpeg", class: "index-image"%>
</div>

</div>
