<div class="background-form">
  <div class="container-main-form">
    <h2>Add a new movie</h2>
    <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.association :movie, collection: @movies, prompt: "Choose a movie" %>
      <%= f.input :comment %>
      <div class="mb-3 d-flex justify-content-around align-items-center">
          <%= f.submit "Add a movie", class:"new"%>
          <%= link_to "Cancel", lists_path, class:"cancel"%>
          </div>
    <% end %>
  </div>
</div>
